<div class="jumbotron">
	<h2>you found me!<h2>
	<p>i'm TIMMY

<!-- Split button -->
<div class="btn-group">
  <button type="button" class="btn btn-danger">now what?</button>
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">be my friend</a></li>
    <li><a href="#">schedule playtime with me</a></li>
    <li><a href="#">give me money</a></li>
  
  </ul>
</div>
</div>

</p>